<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >

    <test name="SearchKeywordInSearchBox" >
        <parameter name="browser" value="chrome" />
        <classes>
            <class name = "testcases.EbayHomeScreenTests"/>
        </classes>
    </test>
    <test name="CalculateTilesInHomePage" >
        <parameter name="browser" value="chrome" />
        <classes>
            <class name = "testcases.EbayHomeScreenTests"/>
        </classes>
    </test>

</suite>
