<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >

    <test name="EbayHomeScreenTests" >
        <parameter name="browser" value="chrome" />
        <classes>
            <class name = "qaselenium.testcases.EbayHomeScreenTests"/>
        </classes>
    </test>
    <test name="EbayCategoriesTests" >
         <parameter name="browser" value="firefox" />
         <classes>
             <class name = "qaselenium.testcases.EbayItemCategoryTests"/>
         </classes>
     </test>
    <test name="EbayCategoriesTests" >
        <parameter name="browser" value="firefox" />
        <classes>
            <class name = "qaselenium.testcases.EbayItemsTests"/>
        </classes>
    </test>
 </suite>
